@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<selcukunikonutlari.Models.Galeri>
<h2>Galeri</h2>

<script type="text/javascript">
    function ac(id) {
        document.getElementById(id).style.display="block";
    }
    function kapa(id) {
        document.getElementById(id).style.display = "none";
    }
</script>

<div style="width:100%; position:relative;">
    @if (@Model != null)
    {
        foreach (var item in Model)
        {
            <div style="width:150px; height:150px; margin:10px; float:left;">
                <img src="@item.resimyol" width="150" height="150" onclick="ac(@item.id);" />
            </div>

        }
        foreach (var item in Model)
        {
            <div id="@item.id" style="border:rgba(0, 0, 0, 0.41) solid 20px; position:absolute; position:fixed;margin-top:-275px;z-index:11; margin-left:auto;margin-right:auto; display:none;">
                <img src="@item.resimyol" width="920" height="600" onclick="kapa(@item.id);" />
            </div>
        }
    }
    else
    {
        <div>Hiç bir veriye ulaşılamadı</div>
    }

</div>
<div class="clear"></div>
<br />
<div class="pagedList">
    @Html.PagedListPager(Model, sayfa => Url.RouteUrl("sayfaaction", new { sayfa, action = "Galeri" }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>