@{
    ViewBag.Title = "OnemliTelefonlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<selcukunikonutlari.Models.DaireSayibi>
<h2>Önemli Telefonlar</h2>

@if (ViewBag.onemlitel != null)
{

    foreach (var item in ViewBag.onemlitel)
    {
        <h4>@item.baslik</h4>
        <table>
            <tr>
                <td>Adı soyadı</td>
                <td>Email</td>
                <td>Telefon No</td>
                <td>İş Telefon No</td>
            </tr>
            <tr>
                <td>@item.adsoyad</td>
                <td>@item.email</td>
                <td>@item.tel</td>
                <td>@item.istel</td>
            </tr>
        </table>
    }
}




@if (Model != null)
{
    <h4>Site Yöneticileri</h4>
    <div>
        <fieldset>
            <ol>
                @foreach (var item in Model)
                {
                <li style="font-size:25px; font-weight:bold;">
                    <label>@item.ad @item.soyad</label>
                    <label>@item.tel</label>
                </li>
                }

            </ol>
        </fieldset>
    </div>
}
else
{
    <div>Hiç bir veriye ulaşılamadı</div>
}

