@{
    ViewBag.Title = "TemsilciKurulu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<selcukunikonutlari.Models.Daire>
<h2>Temsilci Kurulu</h2>

<table>
    <tr>
        <td>Blok No</td>
        <td>Daire No</td>
        <td>Adi Soyadi</td>
        <td>Telefon No</td>
    </tr>
    @if (Model!=null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.blokno</td>
                <td>@item.daireno</td>
                <td>@item.DaireSayibi.ad @item.DaireSayibi.soyad</td>
                <td>@item.DaireSayibi.tel</td>
            </tr>
        }
    }
    else
    {
        <div>Hiç bir veriye ulaşılamadı</div>
    }
</table>