@{
    ViewBag.Title = "SiteCalisanlari";
    Layout = "~/Views/Shared/_kullanicisayfalari.cshtml";
}
@model IEnumerable<selcukunikonutlari.Models.Calisanlar>

<div class="container">
    <div class="row">
        <h2>Site Çalışanları</h2>

        <table class="table">
            <thead>
                <tr>
                    <td>Resim</td>
                    <td>Adı Soyadı</td>
                    <td>Sorumlu Blokları</td>
                    <td>Telefon No</td>
                    <td>Durum</td>
                </tr>
            </thead>
            <tbody>


                @if (Model != null)
            {
                selcukunikonutlari.Models.Model1 model1 = new selcukunikonutlari.Models.Model1();
                foreach (var item in Model)
                {
                        <tr>
                            @foreach (var item2 in model1.Galeri.Where(x => x.calisanId == item.id).ToList())
                            {
                                <td><img src="@item2.resimyol" width="100" height="100" /> </td>
                            }
                            <td>@item.adi @item.soyadi</td>
                            <td>@item.sorumlubloklar</td>
                            <td>@item.tel</td>
                            <td>
                                @if (item.sef == true)
                    {
                                    <text>ŞEF</text>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <div>Hiç bir veriye ulaşılamadı</div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
