@{
    ViewBag.Title = "BankaBilgileri";
    Layout = "~/Views/Shared/_yonetim.cshtml";
}
@model IEnumerable<selcukunikonutlari.Models.BankaBilgileri>
<h2>Banka Bilgileri</h2>

@using (Html.BeginForm("BankaBilgileri", "Yonetim", FormMethod.Post))
{
    <div class="forms">
        <fieldset>
            <ol>
                <li class="form-row text-area-row">
                    <label>Banka Adı</label>
                    <input type="text" class="text-input-row text-input" name="bankaadi" />
                </li>
                <li class="form-row text-area-row">
                    <label>İban</label>
                    <input type="text" class="text-input-row text-input" name="iban" />
                </li>
                <li class="form-row text-area-row">
                    <label>Hesap No</label>
                    <input type="text" class="text-input-row text-input" name="hesapno" />
                </li>
                <li class="form-row text-area-row">
                    <label>Şube No</label>
                    <input type="text" class="text-input-row text-input" name="subeno" />
                </li>
                <li class="button-row">
                    <input type="submit" value="Gönder" name="submit" class="btn-submit" />
                </li>
            </ol>

        </fieldset>
    </div>
}
<br /><br />
<table>
    <tr>
        <td>Banka Adı</td>
        <td>İban</td>
        <td>Hesap No</td>
        <td>Şube No</td>
        <td>İşlemler</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.bankaadi</td>
            <td>@item.iban</td>
            <td>@item.hesapno</td>
            <td>@item.subeno</td>
            <td>@Html.RouteLink("Sil", "yidaction", new {id=item.id,action="BankaSil" })</td>
        </tr>
    }
</table>